<article class="project postDetail">

  <h3 class="postDetail-header post-header">
    <%= link_to @project.title, @project  %>
  </h3>

  <div class="postDetail-meta post-meta project-meta">
    <span class="postDetail-date post-date"><%= @project.date %></span>
    <%= render 'shared/tags', taggable: @project %>
  </div> 
  <%= render 'links', project: @project %>
  <% if @project.photo.url %>
  <%= render 'shared/photo', photo: @project.photo.full, size: @project.photo_size, caption: @project.photo_caption %>
  <% end %>
  <p class="postDetail-contents">
    <%= @project.description.html_safe %> 
  </p>
</article>