<article class="postCard">
  <h3 class="postCard-header post-header">
    <%= link_to project.title, project  %></h3>
    <div class="postCard-meta post-meta">
      <span class="postCard-date post-date"><%= project.public_date %></span>
      <div class="tag_list">
        <% project.tag_list.each do |tag| %>
        <%= link_to tag, ('/tags/' + tag.downcase), class: :badge  %>
        <% end %>
      </div>
    </div> 

      <% if project.photo.url %>
        <%= image_tag(project.photo.thumb, class: 'thumb') %>
      <% end %>    

    <div class="postCard-snippet">
      <%= truncate_html(project.description, length: 300, omission: '...') %> 
    </div>



  </article>