<article class="postCard">
  <h3 class="postCard-header post-header">
    <%= link_to project.title, project  %></h3>
    <div class="postCard-meta post-meta">
      <%= render 'shared/tags', taggable: project, short_list: true %>
    </div> 
      <%= render 'projects/links', project: project  %>

      <% if project.photo.url %>
        <a href="<%= project %>"><%= image_tag(project.photo.thumb, class: 'thumb') %></a>

      <% end %>    

    <div class="postCard-snippet">
      <%= truncate_html(project.description, length: 350, omission: '...') %> 
    </div>
<div class="thumb_clear" ></div>


  </article>