<h1>Edit Project: <%= @project.title %></h1>
<%= render 'form' %>
<%= link_to 'Destroy', project_path(@project),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show projects', project_path %>

<%= link_to 'All projects', project_path %>