<article class="post postDetail">
  <h1 class="postDetail-header post-header">
    <%= title @post.title %>
    </h1>
    <div class="postDetail-meta post-meta">
      <span class="postDetail-date post-date"><%= @post.date %></span>
      <%= render 'shared/tags', taggable: @post %>
    </div> 
    <% if @post.photo.url %>
    <%= render 'shared/photo', photo: @post.photo.full, size: @post.photo_size, caption: @post.photo_caption %>
    <% end %>

    <p class="postDetail-contents">
      <%= @post.contents.html_safe %> 
    </p>
  </article>