<article class="post postDetail">
  <h3 class="postDetail-header post-header">
    <%= link_to @post.title, @post  %></h3>
    <div class="postDetail-meta post-meta">
      <span class="postDetail-date post-date"><%= @post.date %></span>
      <%= render 'shared/tags', taggable: @post %>
    </div> 
    <% if @post.photo.url %>
    <%= render 'shared/photo', photo: @post.photo.full, size: @post.photo_size %>
    <% end %>

    <p class="postDetail-contents">
      <%= @post.contents.html_safe %> 
    </p>
  </article>