<article class="post postDetail">
  <h3 class="postDetail-header post-header">
    <%= link_to @post.title, @post  %></h3>
    <div class="postDetail-meta post-meta">
      <span class="postDetail-date post-date"><%= @post.date %></span>
      <%= render 'shared/tags', taggable: @post %>
    </div> 
      <% if @post.photo.url %>
        <%= image_tag(@post.photo.full, class: 'full') %>
        <div class="caption"><%= @post.photo_caption %></div>
      <% end %>
    <p class="postDetail-contents">
      <%= @post.contents.html_safe %> 
    </p>
  </article>