 <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @post do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :contents %><br>
    <%= f.text_area :contents %>
  </p>

<p>
 <%= f.label 'Public date' %><br>
 <%= date_select :post, :public_date %>
 </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>