 <% if @post.errors.any? %>
 <div id="error_explanation">
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<%= form_for @post, html: { multipart: true } do |f| %>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :contents %><br>
  <%= f.text_area :contents %>
</div>

<div class="field">
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list, value: @post.tag_list.to_s %>
</div>

<% if @post.photo %>
  <%= image_tag(@post.photo.thumb, class: 'thumb') %>
<% end %>

<div class="field">
  <%= f.label :photo %><br />
  <%= f.file_field :photo %>
</div>

<div class="field">
  <%= f.label :photo_caption %><br>
  <%= f.text_field :photo_caption %>
</div>

<div class="field">
  <%= f.label :photo_size %><br>
  <%= f.select(:photo_size, options_for_select([['full', 'full'], ['small', 'small'], ['none', 'none']], (@post.photo_size || 'full'))) %>
</div>

<div class="field">
  <%= f.label :remove_photo %><br>
  <%= f.check_box :remove_photo %>
</div>

<div class="field">
 <%= f.label 'Public date' %><br>
 <%= date_select :post, :public_date %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>