<article class="postCard">
  <h3 class="postCard-header post-header">
    <%= link_to post.title, post  %></h3>
    <div class="postCard-meta post-meta">
      <span class="postCard-date post-date"><%= post.date %></span>
      <%= render 'shared/tags', taggable: post %>
    </div> 

      <% if post.photo.url %>
        <%= image_tag(post.photo.thumb, class: 'thumb') %>
      <% end %>    

    <div class="postCard-snippet">
      <%= truncate_html(post.contents, length: 350, omission: '...') %> 
    </div>
    <div class="thumb_clear" ></div>



  </article>