<h1>New Post</h1>


<h2><%= @post.title %></h2>

<div><%= @post.public_date %></div> 
<p>
  <%= @post.contents %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> 
<%= link_to 'All posts', posts_path %>