<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400|Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="icon" href="http://s3.amazonaws.com/brymac/assets/favicon.png">
  <meta property="og:image" content="http://s3.amazonaws.com/brymac/assets/fb-og.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= display_meta_tags :site => 'Bryan MacDiarmid, Web Developer' %>
</head>
<body>
  <div class="wrapper">
    <header>
      <%= image_tag("portrait.jpg", alt: "Bryan MacDiarmid portrait", class: "portrait") %>
      <h1 class="logo">Bryan MacDiarmid</h1>
      <%= render 'refills/navigation' %>
    </header>
    <div class="main">
      <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash-#{key}" %>
      <% end %>
      <%= yield %>

    </div>
    <%= render 'static_pages/aside' %>
    <footer>
      Check out my <a href="https://github.com/brymacto/brymac.ca-rails" target="_blank">github repo</a> for this website &middot; &copy; 2015 Bryan MacDiarmid


      <% if current_user %>
      <p>
        Logged in as <%= current_user.email %>
        <%= link_to "Logout", :logout, method: :post %> &middot; <%= link_to "Users", users_path  %>

      </p>
      <% end %>
    </footer>

  </div>
</body>
</html>
