<!DOCTYPE html>
<html>
<head>
  <title>Bryan MacDiarmid | Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400|Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="wrapper">

<header>
<%= image_tag("portrait.jpg", alt: "Bryan MacDiarmid portrait", class: "portrait") %>
  <h1 class="logo">Bryan MacDiarmid</h1>
<%= render 'refills/navigation' %>
  
</header>

  <div class="main">
    <%= yield %>
  </div>
  <aside class="aside">
    <h3>Skills</h3>
    <h3>Contact</h3>



  </aside>
</div>

</body>
</html>
