<!DOCTYPE html>
<html>
<head>
  <title>Bryan MacDiarmid | Web Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400|Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div class="wrapper">

    <header>
      <%= image_tag("portrait.jpg", alt: "Bryan MacDiarmid portrait", class: "portrait") %>
      <h1 class="logo">Bryan MacDiarmid</h1>
      <%= render 'refills/navigation' %>

    </header>

    <div class="main">
      <%= yield %>
    </div>
    <aside class="aside">

      <h3>Skills</h3>
      <section>
        <%= link_to 'Rails', tag_path(:rails), class: :skill  %>
        <%= link_to 'Ruby', tag_path(:ruby), class: :skill  %>
        <%= link_to 'JavaScript', tag_path(:javascript), class: :skill  %>
        <%= link_to 'HTML & CSS', tag_path(:html), class: :skill  %>
<!-- 
      <a href="" class="skill">Rails</a>
        <a href="" class="skill">Ruby</a>
        <a href="" class="skill">JavaScript</a>
        <a href="" class="skill">HTML &amp; CSS</a> -->

      </section>
      <h3>Contact</h3>
      <section>
        <a href="mailto:brymac@gmail.com" class="icon"><i class="fa fa-envelope-o"></i>brymac@gmail.com</a>
        <a href="http://twitter.com/bmacdia" target="_blank" class="icon"><i class="fa fa-twitter"></i>@bmacdia</a>
        <a href="https://github.com/brymacto" target="_blank" class="icon"><i class="fa fa-github"></i>/brymacto</a>
        <a href="https://ca.linkedin.com/in/brymac" target="_blank" class="icon"><i class="fa fa-linkedin"></i>/brymac</a>
      </section>



    </aside>
  </div>

</body>
</html>
